<div class="card border-primary mb-3 img-fluid" style="max-width: 500rem; max-height: 100rem;">
  <div class="card-header">
    <img class="card-img-top" src="/assets/profile.png" alt="Card image" style="width: 4%;"> Name
    <div class="card-img">
    <a href='/post-detail/{{post.id}}' style="color:black;  outline-style: hidden;">{{post.title }}</a>
    </div>
</div>
  <div>
    <a href='/post-detail/{{post.id}}' style="color:black;  outline-style: hidden; "><img src="/assets/comments.png" style="width: 4%;" ></a> <img src="{{Image.Photo}}" (click)="ImageClick()" style="width: 2%;" >  
    </div>
</div>

