
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Kanban </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
        <li class="nav-item">
          <a class = "nav-link" href="/discussionboard">Discussion Board</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link" href="/submission">Submissions</a>
          </li>
    </ul>
    
  </div>
</nav>